<% include partials/header %>
<div id="chat-list-settings">
                        <div class="page-header clearfix">
                <span>Hello Admin Welcome to the Admin Panel</span>
							<!--<li><a title="Online" href="#">Online - ${rUser.online}</a></li>-->
                <ul>
								<a href="/" class="btn btn-primary">Cum</a>
                </ul>
            </div>
					
</div>
you are a admin