<% include partials/header %>
<div id="chat-list-settings">
                        <div class="page-header clearfix">
                <span>settings</span>
                <ul>
								<a href="/users/settings" class="btn btn-primary">Back</a>
                </ul>
            </div>
            <div class="profile-body scroll-hijack">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="row valign">
                            <div class="col-md-6">
                                <h6 class="text-bold mb-25">Whats New!</h6>
																<!--Only Like this because i cant find the file whats this in (class name : friend-list scroll-hijack)-->
                                <div class="friend-list scroll-hijack">
                                    <ul class="list">
                                        <li><div class="avatar"></div>
																				Added Change Log and Settings!
																				</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
    </div>
