<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="stylesheets/bootstrap.minv2.css">
    <link rel="stylesheet" href="sus/main.css">
    <link rel="stylesheet" href="stylesheets/now-ui-kit.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&amp;display=swap" rel="stylesheet">
    <title>Alpha | Homepage</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="img/menuIcon.svg" width="20px" height="20px" style="max-width: none !important;">
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.mediafire.com/file/tz66vrb7e2t7807/1.3.zip/file">Download</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://discord.gg/juNFzG938Z">Discord</a>
            </li>
        </ul>
        <div class="nav-item dropdown show">
            
            
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/users/register">Register</a>
        </div>
        <a class="btn login-btn btn-outline-accent my-2 my-sm-0" style="font-size: 10px !important;font-family: poppins !important;" href="/users/login">LOGIN</a>
    </div>
</nav>
<div class="heading">
    <center><h1 class="display-5 title">It's time to try something besides Discord.</h1>
    <p class="subtitle">ZeroCord Is a online community for people who wanna chat with others</p>
    <a class="btn btn-primary btn-lg" href="https://www.mediafire.com/file/tz66vrb7e2t7807/1.3.zip/file" target="_blank" role="button">Download ZeroCord</a>
    <a class="btn btn-secondary btn-lg" href="/users/register" target="_blank" role="button">Register</a>
    <img src="https://media.discordapp.net/attachments/881398088139415562/887858325843230751/uCBAgQIAAAQIECBAgQIAAAQIECBAgQIAAAQIECBCoSEAAXNGwtUqAAAECBAgQIECAAAECBAgQIECAAAECBAgQIECAQNkCAuCy56s.png?width=831&height=467" width="5000"><br>
</div>
<div class="features">
    <div class="title">Features on ZeroCord</div>
    
    <div class="cards">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Future #1</h5>
            <p class="card-text">We are using the same API as discord</p>
        </div>
    </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Future #2</h5>
                <p class="card-text">You can chat with others.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Future #3</h5>
                <p class="card-text">A smooth experience with ZeroCord</p>
            </div>
        </div>
    </div>
</div>

<div class="page_end">
    
    <div class="footer">
        <div class="bot-footer">
            ZeroCord 2021
        </div><br>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/now-ui-kit.min.js"></script>


</div></div></body></html>