<% include partials/header %>





    <div id="chat-list-settings">
                        <div class="page-header clearfix">
                <span>settings</span>
                <ul>
								<a href="/users/settings" class="btn btn-primary">Back</a>
                </ul>
            </div>    
            <div class="profile-body scroll-hijack">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                            <div class="col-md-6">
                             <div class="mt-25 visible-xs visible-sm"></div>
                                <h6 class="text-bold">Profile Settings</h6>
                                <form class="form-horizontal" action="/users/@me/update?_method=PATCH" method="POST">
                                    <div class="form-group">
                                        <p class="label mb-10">Choose a new profile image</p>
                                        <label  for="profile_photo" class="profile-photo-placeholder avatar-placeholder" data-toggle="tooltip" data-title="Upload a new profile image" data-placement="bottom"><img id="profile_photo_img" src="<%= currentUser.profile_picture %>" /></label>
                                        <input id="profile_photo" class="profile-photo"  />
                                    </div>
                                    <div class="form-group">
                                        <label for="profile_email">Email</label>
                                        <input type="email" name="user[email]" id="profile_email" class="form-control" value="<%= currentUser.email %>" />
                                    </div>
                                    <div class="form-group">
                                        <label for="profile_username">Username</label>
                                        <input type="text" name="user[username]" id="profile_username" class="form-control" value="<%= currentUser.username %>" />
                                    </div>
																		<!--<div class="form-group">
                                        <label for="profile_c_password">Confirm Password </label>
                                        <input type="password" name="profile_c_password" id="profile_c_password" class="form-control" value="" />
                                    </div> -->
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-radius">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
        </div>
    </div>
<% include partials/settings-footer %>