<% include partials/header %>
<div id="chat-list-settings">
<div class="page-header clearfix">
                <span>My Account</span>
            </div>            
                           <a href="/users/settings/account" class="user-settings"><div class="avatar"></div>Account</a> 
                                         
                             <a href="/users/settings/friends" class="user-settings"><div class="avatar"></div>Friends</a> 
                                         <div class="page-header clearfix">
                <span>Importent</span>
            </div>
                        <a href="/users/settings/change-log" class="user-settings"><div class="avatar"></div>Change Log</a> 
                        <br>
                        <br>
                        <a href="/users/logout" class="user-settings-logout"><div class="avatar-logout"></div>Logout</a>
            </div>
                        